<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<!-------------------------------------------------------------------------------------------->
<div th:fragment="header" class="navbar navbar-fixed-top"
     style="background-color: #343a40; margin-left: -15px; margin-right: -15px">
    <div style="float: left; color: white; font-size: larger; padding: 2px 4px">
        <b th:text="${my_email}"></b> with roles: <span th:text="${my_roles}"></span>
    </div>
    <a href="/logout" style="color: #969b9c">Logout</a>
</div>
<!-------------------------------------------------------------------------------------------->
<table th:fragment="about_user" class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Емэйл</th>
        <th>Роли</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age < 0} ? '-' : ${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td style="width: 220px">
            <ul class="list-group" th:each="role : ${user.roles}">
                <li class="list-group-item" style="padding: 0 4px "
                    th:text="${role.name}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<!-------------------------------------------------------------------------------------------->
</body>
</html>

<ul th:fragment="links_to_lists_of_employees" sec:authorize="hasAuthority('MASTER')" style="margin: 24px; list-style-type: none">
    <li style="font-weight: bold">Фирма TVs&Phones</li>
    <li sec:authorize="hasAuthority('TV_MANUFACTURER') and hasAuthority('PHONE_MANUFACTURER') and hasAuthority('REPAIRER')" style="margin: 8px">
        <a href="/headship" class="button">Все сотрудники</a>
    </li>
    <li>
        <ul style="list-style-type: none">
            <li>Сборочный цех</li>
            <li sec:authorize="hasAuthority('TV_MANUFACTURER') and hasAuthority('PHONE_MANUFACTURER')" style="margin: 8px">
                <a href="/manufacture/master" class="button">Сотрудники сборочного цеха</a></li>
            <li>
                <ul style="list-style-type: none">
                    <li>Отдел сборки ТВ</li>
                    <li sec:authorize="hasAuthority('TV_MANUFACTURER')" style="margin: 8px">
                        <a href="/manufacture/tvs/master" class="button">Сотрудники отдела сборки ТВ</a>
                    </li>
                    <li>Отдел сборки телефонов</li>
                    <li sec:authorize="hasAuthority('PHONE_MANUFACTURER')" style="margin: 8px">
                        <a href="/manufacture/phones/master" class="button">Сотрудники отдела сборки телефонов</a>
                    </li>
                </ul>
            </li>
            <li>Ремонтный отдел</li>
            <li sec:authorize="hasAuthority('REPAIRER')" style="margin: 8px">
                <a href="/repair/master" class="button">Сотрудники ремонтного отдела</a>
            </li>
        </ul>
    </li>
</ul>
<!------------------------------------------------------------------------------------>
<header_old th:fragment="users_header">
    <table style="width:100%; background-color: #e7fff3">
        <tbody>
        <tr>
            <td style="text-align: center; font-weight: bold; font-size: larger; width: 100%; border: 1px solid"
                th:text="${title}">
            </td>
            <td><a class="button" href="/">Главная</a></td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <a href="/admin" class="button">Страница&nbsp;администратора</a>
            </td>
            <td><a href="/logout" class="button">Выйти</a></td>
        </tr>
        </tbody>
    </table>
</header_old>
<!------------------------------------------------------------------------------------>
<table th:fragment="users_list" style="margin: auto">
    <thead>
    <tr>
        <th style="border-bottom: 1px solid; padding: 4px">Имя</th>
        <th style="border-bottom: 1px solid; padding: 4px">Фамилия</th>
        <th style="border-bottom: 1px solid; padding: 4px">Должность</th>
        <th style="border-bottom: 1px solid; padding: 4px">Е-мэйл</th>
        <th style="border-bottom: 1px solid; padding: 4px; width: 216px">Роли</th>
        <th style="border-bottom: 1px solid; padding: 4px">Дата рождения</th>
        <th style="border-bottom: 1px solid; padding: 4px">Дата, время записи</th>
        <th style="border-bottom: 1px solid; padding: 4px">Заблокирован</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}"
        th:with="st = 'border-bottom: 1px solid; padding: 4px; color: ' +
                            (${user.isLocked()} ? 'red' : 'black') +';'">
        <td th:style="${st}" th:text="${user.firstName}"></td>
        <td th:style="${st}" th:text="${user.lastName}"></td>
        <td th:style="${st}" th:text="${user.position}"></td>
        <td th:style="${st}" th:text="${user.email}"></td>
        <td th:style="${st}">
            <details>
                <summary th:text="${user.firstRole}"></summary>
                <span th:each="line : ${user.otherRoles}">
                                    <div th:text="'&nbsp;&nbsp;&nbsp;&nbsp;' + ${line}"></div>
                                </span>
            </details>
        </td>
        <td th:style="${st} + ' text-align: center'"
            th:text="${user.birthDate != null} ? ${user.getBirthDateAsString()} : '-'"></td>
        <td th:style="${st} + ' text-align: center'" th:text="${user.recordDateTimeAsString}"></td>
        <td th:style="${st} + ' text-align: center'" th:text="${user.locked} ? 'да' : 'нет'"></td>
    </tr>
    </tbody>
</table>
