<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Home</title>
</head>
<body>
<header>
    <table style="width:100%; background-color: #e7fff3">
        <tbody>
        <tr>
            <td style="text-align: center; font-weight: bold; font-size: larger; width: 100%; border: 1px solid">
                Главная страница
            </td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <a href="/admin" class="button">Администрирование</a>
            </td>
            <td sec:authorize="hasAnyAuthority('TV_MANUFACTURER', 'PHONE_MANUFACTURER')">
                <a href="/manufacture" class="button">Сборочный&nbsp;цех</a>
            </td>
            <td sec:authorize="hasAuthority('TV_MANUFACTURER')">
                <a href="/manufacture/tvs" class="button">Отдел&nbsp;сборки&nbsp;ТВ</a>
            </td>
            <td sec:authorize="hasAuthority('PHONE_MANUFACTURER')">
                <a href="/manufacture/phones" class="button">Отдел&nbsp;сборки&nbsp;телефонов</a>
            </td>
            <td sec:authorize="hasAuthority('REPAIRER')">
                <a href="/repair" class="button">Ремонтный&nbsp;отдел</a>
            </td>
            <td sec:authorize="hasAuthority('USER')"><a href="/user" class="button">Моя&nbsp;страница</a></td>
            <td sec:authorize="isAuthenticated()"><a href="/logout" class="button">Выйти</a></td>
            <td sec:authorize="isAnonymous()"><a href="/login" class="button">Войти</a></td>
        </tr>
        </tbody>
    </table>
</header>
<main>
    <div style="padding-top: 20px; text-align: center">
        <h1>Главная страница</h1>
    </div>
    <ul th:replace="~{fragments :: links_to_lists_of_employees}"></ul>
</main>
</body>
</html>
