<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>User page</title>
    <style>
        .cell {vertical-align: top; padding: 2px 4px; text-align: center;}
    </style>
</head>
<body>
<header th:replace="~{fragments :: users_header}"></header>
<main>
    <h2 style="text-align: center">Мои данные</h2>
    <table style="border: 0; margin: auto">
        <thead>
        <tr>
            <th class="cell">Имя</th>
            <th class="cell">Фамилия</th>
            <th class="cell">Должность</th>
            <th class="cell">Е-мэйл</th>
            <th class="cell" style="width: 260px">Роли</th>
            <th class="cell">Дата рождения</th>
            <th class="cell">Дата, время записи</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="cell" th:text="${user.firstName}"></td>
            <td class="cell" th:text="${user.lastName}"></td>
            <td class="cell" th:text="${user.position}"></td>
            <td class="cell" th:text="${user.email}"></td>
            <td class="cell" th:with="roles=${user.roles}">
                <ul th:each="role : ${roles}" style="list-style: none; padding: 0; margin: 0">
                    <li th:text="${role.name}"></li>
                </ul>
            </td>
            <td class="cell" th:text="${user.birthDateAsString}"></td>
            <td class="cell" th:text="${user.recordDateTimeAsString}"></td>
        </tr>
        </tbody>
    </table>
    <ul th:replace="~{fragments :: links_to_lists_of_employees}"></ul>
</main>
</body>
</html>
